{{#partial "styles"}}

    <link rel='stylesheet' href='/css/squadForm.css'>

{{/partial}}

{{#partial "content"}}


    <h2>CREATE A NEW SQUAD</h2>
    <form action="/squads" method="post">
        <div class="form-group">
            <label for="squadName">Name</label>
            <input type="text" class="form-control" name="squadName" id="squadName" placeholder="Name of the squad" required>
        </div>

        <div class="form-group">
            <label for="squadCause">Cause</label>
            <input type="text" class="form-control" name="squadCause" id="squadCause" placeholder="What does this squad fight against?" required>
        </div>

        <div class="form-group">
            <label for="squadSize">Squad Limit</label>
            <input type="number" class="form-control" name="squadSize" id="squadSize" placeholder="Number of heros in your squad" required>
        </div>

        <div class="form-group">
            <label for="squadHeros">Your Heroes</label>

            {{#if heros}}
                {{#each heros}}
                    {{#if squadMember}}

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="squadHeros" id={{id}} value={{id}} disabled>
                            <label class="form-check-label" for="squadHeros">
                                {{name}}
                            </label>
                        </div>

                    {{else}}

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="squadHeros" id={{id}} value={{id}}>
                            <label class="form-check-label" for="squadHeros">
                                {{name}}
                            </label>
                        </div>

                    {{/if}}

                {{/each}}
            {{else}}

                <p>Oh No!!You don't have enough heroes. Create more heroes <a href="/heros/new" style="text-decoration: bold;">here</a>.</p>

            {{/if}}
        </div>

        <button type="submit" class="btn btn-info my-2 my-sm-0">Create Squad</button>
    </form>


{{/partial}}

{{> layout.hbs}}